@import "tailwindcss";

@theme {
    --color-blackout: #FAFAFA;
    --color-luxury-white: #1F1F1F;
    --color-dravit-grey: hsl(0, 0%, 55%);
}

@media (prefers-color-scheme: dark) {
    @theme {
        --color-blackout: #1F1F1F;
        --color-dravit-grey: #5E5E5E;
        --color-luxury-white: #FAFAFA;
    }

    body {
        color: var(--color-luxury-white);
    }
}


html, body {
    /*
     * This property hides the scrollbar at the 
     * bottom of home route in android chrome. I
     * dont know how.
     */
    overflow-x: hidden; 
}

body {
    color: var(--color-blackout);
    font-family: Manrope, sans-serif;
}

button {
    cursor: pointer;
    text-align: inherit;
}



/*==============================*/
/* Scrollbars                   */
/*==============================*/

/* Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Edge */
.no-scrollbar::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar-button {
    display: none;
}



/* Desktop only */
@media (pointer: fine) {
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    .light-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(250, 250, 250, 0.15);
    }

    .dark-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(31, 31, 31, 0.25);
    }
}