@import "tailwindcss";


@theme {
    --color-blackout: #1F1F1F;
    --color-luxury-white: #FAFAFA;
    --color-dravit-grey: #5E5E5E;
}


html, body {
    overflow-y: hidden;
}

button {
    cursor: pointer;
}



/* hide scrollbar */

/* Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* IE and Edge */
.no-scrollbar::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar-button {
    display: none;
}