@import "tailwindcss";


@theme {
    --color-blackout: #FAFAFA;
    --color-luxury-white: #1F1F1F;
    --color-dravit-grey: hsl(0, 0%, 55%);
}

@media (prefers-color-scheme: dark) {
    @theme {
        --color-blackout: #1F1F1F;
        --color-dravit-grey: #5E5E5E;
        --color-luxury-white: #FAFAFA;
    }

    body {
        color: var(--color-luxury-white);
    }
}

html, body {
    overflow-y: hidden;
}

body {
    color: var(--color-blackout)
}

button {
    cursor: pointer;
}



/* hide scrollbar */

/* Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* IE and Edge */
.no-scrollbar::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar-button {
    display: none;
}